*{
    box-sizing: border-box;
}
:root{
    --main-border:4px solid #222;

}

.container{
    margin: 20px auto;
    width: 1000px;
}
.row{
    display: flex;
}
hr{
    border: 1px solid #eee;
}

.game-info{
    display: flex;
}
.game-info .game-name{
flex: 1;
}
.game-info .category{
flex: 1;
text-align: right;
}

.game-info .category span{
text-transform: capitalize;
color: #e91e63;
font-weight: bold;
}

.hangman-draw{
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
}

.hangman-draw .the-draw{
    width: 60px;
    height: 280px;
    position: relative;
    border-bottom:var(--main-border);
    margin: auto;
}


.hangman-draw .the-stand::before{
content: "";
position: absolute;
width: 4px;
background-color: #222;
height: 100%;
left: 50%;
margin-left: -2px;
}

.hangman-draw .the-hang::before{
    content: "";
    position: absolute;
    width: 100px;
    background-color: #222;
    height: 4px;
    left: 30px;
    top: 10px;
}

.hangman-draw .the-hang::after{
    content: "";
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 30px;
    left: 130px;
    top: 10px;
}



.hangman-draw .the-rope{
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    left: 96px;
    top: 40px;
    border: 4px dashed #222;
}



.hangman-draw .the-man .head{
    width:50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    left: 106px;
    top: 50px;
    border: 4px solid #222;
}


.hangman-draw .the-man .body{
    width: 1px;
    height: 110px;
    position: absolute;
    left: 127px;
    top: 100px;
    border: 4px solid #222;
    background-color: #222;
}



.hangman-draw .the-man .hands{
    width: 1px;
    height: 110px;
    position: absolute;
    left: 127px;
    top: 100px;
    border: 4px solid #222;
    background-color: #222;
}

.hangman-draw .the-man .hands::before{
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    left: -46px;
    top: 47px;
    background-color: #222;
    transform: rotate(30deg);
}

.hangman-draw .the-man .hands::after{
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    left: -1px;
    top: 45px;
    background-color: #222;
    transform: rotate(-30deg);
}

.hangman-draw .the-man .legs{
    width: 1px;
    height: 110px;
    position: absolute;
    left: 127px;
    top: 100px;
    border: 4px solid #222;
    background-color: #222;
}

.hangman-draw .the-man .legs::before{
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    left: -49px;
    top: 115px;
    background-color: #222;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .legs::after{
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    left: -3px;
    top: 114px;
    background-color: #222;
    transform: rotate(30deg);
}

.letters{
    flex: 1;
    padding: 15px;
    text-align: center;
    
}
.letters .letter-box{
width: 55px;
height: 55px;
display: inline-block;
background-color: #099688;
color:white;
font-size: 24px;
margin-right: 10px;
line-height: 55px;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
margin-bottom: 10px;
}

.letters-guess{
    margin: 10px auto;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
}


.letters-guess span{
width: 60px;
height: 60px;
font-size: 24px;
margin-right: 10px;
text-align: center;
line-height: 60px;
text-transform: uppercase;
font-weight: bold;
background-color: #fdfdfd;
border-bottom: 3px solid #222;
transition: .3s;
}

.letters-guess span.with-space{
background: none;
border-bottom: none;
position: relative;
}

.letters-guess span.with-space:before{
content: "";
width: 20px;
height: 4px;
background: black;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% ,-50%);
}

.letters .letter-box.clicked{
    opacity: .2;
    background: #222;
    pointer-events: none;
}

















































































































































































































































































































































































































































































